sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
@font-face {
	font-family:"JHBUWP+Verdana-Bold";
	src:url("cda0962c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "JHBUWP+Verdana-Bold";
	color: #141414;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0033px;
}
@font-face {
	font-family:"ACVDLM+Superclarendon-Regular";
	src:url("b3cddb36-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.916667em;
	font-family: "ACVDLM+Superclarendon-Regular";
	color: #141414;
}
.stl_11 {
	line-height: 1.205em;
}
.stl_12 {
	letter-spacing: 0em;
}

.ie .stl_12 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"NJDDIW+Verdana";
	src:url("37583725-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.833333em;
	font-family: "NJDDIW+Verdana";
	color: #141414;
}
.stl_14 {
	letter-spacing: -0.0001em;
}

.ie .stl_14 {
	letter-spacing: -0.0011px;
}
@font-face {
	font-family:"WONWDL+STSongti-SC-Regular";
	src:url("37f82046-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.833333em;
	font-family: "WONWDL+STSongti-SC-Regular", "Times New Roman";
	color: #141414;
}
.stl_16 {
	line-height: 1.4em;
}
@font-face {
	font-family:"AHKHGS+STHeitiSC-Light";
	src:url("270b2fd3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.916667em;
	font-family: "AHKHGS+STHeitiSC-Light", "Times New Roman";
	color: #000000;
}
.stl_18 {
	line-height: 1em;
}
.stl_19 {
	font-size: 0.833333em;
	font-family: "NJDDIW+Verdana";
	color: #131313;
}
.stl_20 {
	font-size: 0.833333em;
	font-family: "WONWDL+STSongti-SC-Regular", "Times New Roman";
	color: #131313;
}
.stl_21 {
	font-size: 0.833333em;
	font-family: "AHKHGS+STHeitiSC-Light", "Times New Roman";
	color: #131313;
}
@font-face {
	font-family:"QRTFKS+Tahoma";
	src:url("d637b552-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.916667em;
	font-family: "QRTFKS+Tahoma";
	color: #0000FF;
}
.stl_23 {
	font-size: 0.916667em;
	font-family: "QRTFKS+Tahoma";
	color: #0000FE;
}
.stl_24 {
	letter-spacing: -0.0009em;
}

.ie .stl_24 {
	letter-spacing: -0.012px;
}
.stl_25 {
	letter-spacing: -0.0008em;
}

.ie .stl_25 {
	letter-spacing: -0.012px;
}
.stl_26 {
	letter-spacing: -0.0004em;
}

.ie .stl_26 {
	letter-spacing: -0.0061px;
}
.stl_27 {
	letter-spacing: -0.0006em;
}

.ie .stl_27 {
	letter-spacing: -0.0083px;
}
.stl_28 {
	letter-spacing: -0.0018em;
}

.ie .stl_28 {
	letter-spacing: -0.0259px;
}
.stl_29 {
	letter-spacing: -0.0012em;
}

.ie .stl_29 {
	letter-spacing: -0.0171px;
}
.stl_30 {
	font-size: 0.833333em;
	font-family: "JHBUWP+Verdana-Bold";
	color: #131313;
}
.stl_31 {
	font-size: 0.916667em;
	font-family: "ACVDLM+Superclarendon-Regular";
	color: #131313;
}
@font-face {
	font-family:"KMCNMV+Helvetica";
	src:url("32472844-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 1em;
	font-family: "KMCNMV+Helvetica", "Times New Roman";
	color: #000000;
}
